{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults | Add placement{% endblock title %}

{% block extra_css %}
.form-space {
margin-bottom: 16px;
}
{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto Consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Adding a new placement</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New placement</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for adding a new placement  -->
                                <form id="companyForm" method="post" action="">

                                    {% csrf_token %}

                                    <div class="col-md-12">
                                        <label for="id_customer" class="form-label me-3">Customer:</label> <a href={%
                                            url "add-customer" %}
                                            class="text-white rounded px-4 py-0 bg-success text-medium">+ Add
                                            New</a>
                                        <select name="customer" id="id_customer"
                                            class="default-select  form-control wide">
                                            <option value="">Select a customer</option>
                                            {% for customer in customers %}
                                            <option value={{customer.id}}>{{ customer }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="my-3 col-md-12" style="margin-top: 16px;">
                                        <label for="id_job" class="form-label me-3">Job:</label> <a href={%
                                            url "add-job" %}
                                            class="text-white rounded px-4 py-0 bg-success text-medium">+ Add New</a>
                                        <select name="job" id="id_job" class="default-select  form-control wide">
                                            <option value="">Select a job</option>
                                            {% for job in jobs %}
                                            <option value={{job.id}}>{{ job }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_status" class="form-label">Status:</label>
                                        <select name="status" id="id_status" class="default-select  form-control wide">
                                            <option value="">Select a status</option>
                                            {% for value, label in status_choices %}
                                            <option value={{value}}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_expected_salary" class="form-label">Expected salary:</label><span
                                            class="text-danger">*</span>
                                        <input type="number" name="expected_salary" required id="id_expected_salary"
                                            class="form-control">
                                    </div>

                                    <div class="mb-3"><button type="submit" class="btn btn-primary mb-2">Save
                                            placement</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}