{% extends "base.html" %}

{% load static %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    {% comment %} <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Save customer</button>
    </form> {% endcomment %}

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Form</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Element</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Input Style</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for adding a new job  -->
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_name" value="add_job_form">
                                    {{add_job_form.as_p}}
                                    <div><button type="submit" class="btn btn-primary mb-2">Add
                                            job</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}