{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults | Add payment fee{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto Consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Adding a new payment</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New payment fee</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for adding a new pyment  -->
                                <form id="companyForm" method="post" action="">

                                    {% csrf_token %}

                                    <div class="mb-3 col-md-12">
                                        <label for="id_customer" class="form-label">Customer:</label>
                                        <select name="customer" id="id_customer"
                                            class="default-select  form-control wide">
                                            <option value="">Select a customer</option>
                                            {% for customer in customers %}
                                            <option value={{customer.id}}>{{ customer }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_fee_type" class="form-label">Fee Category:</label>
                                        <select name="fee_type" id="id_fee_type"
                                            class="default-select  form-control wide">
                                            <option value="">Select a fee_type</option>
                                            {% for value, label in fee_types %}
                                            <option value={{value}}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_amount" class="form-label">Amount:</label><span
                                            class="text-danger">*</span>
                                        <input type="number" name="amount" required id="id_amount" class="form-control">
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_payment_status" class="form-label">Payment status:</label>
                                        <select name="payment_status" id="id_payment_status"
                                            class="default-select  form-control wide">
                                            <option value="">Select a payment status</option>
                                            {% for value, label in payment_status_choices %}
                                            <option value={{value}}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="mb-3"><button type="submit" class="btn btn-primary mb-2">Save
                                            payment</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}