{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults | Add User role{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto Consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Adding a new user role</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New User role</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for adding a new user role  -->
                                <form id="userRoleForm" method="post" action="">

                                    {% csrf_token %}
                                    <div class="mb-3 col-md-12">
                                        <label for="id_name" class="form-label">User role:</label><span
                                            class="text-danger">*</span>
                                        <input type="text" name="name" maxlength="100" required id="id_name"
                                            class="form-control">
                                    </div>

                                    <div class="mb-3"><button type="submit" class="btn btn-primary mb-2">Save
                                            user role</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}










