{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto consults</a></li>
                </ol>
            </div>

            <div class="row">

                <!-- BEGINNING OF ROW 1  -->
                <div class="col-md-3">
                    <div class="widget-stat card bg-primary">
                        <div class="card-body  p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="la la-users"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total Customers</p>
                                    <h3 class="text-white text-center">{{total_customers}}</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                                    </div>
                                    <small>80% Increase in 20 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-warning">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-building"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total companies</p>
                                    <h3 class="text-white text-center">{{total_companies}}</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                    </div>
                                    <small>50% Increase in 25 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-secondary overflow-hidden">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total Jobs</p>
                                    <h3 class="text-white text-center">{{total_jobs}}</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                                    </div>
                                    <small>76% Increase in 20 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-danger ">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-user-check"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total placements</p>
                                    <h3 class="text-white text-center">{{total_placements}}</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                    </div>
                                    <small>30% Increase in 30 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- END OF ROWN ONE  -->


                <!-- BEGINNING OF ROW 2 -->

                <div class="col-xl-8 col-xxl-8 col-lg-12 col-sm-12">
                    <div id="user-activity" class="card">
                        <div class="card-header border-0 pb-0 d-sm-flex d-block">
                            <h4 class="card-title">Visitor Activity</h4>
                            <div class="card-action mb-sm-0 my-2">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#user" role="tab">
                                            Day
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#bounce" role="tab">
                                            Month
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#session-duration" role="tab">
                                            Year
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="user" role="tabpanel">
                                    <canvas id="activity" class="chartjs"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-sm-12">
                    <div class="card overflow-hidden">
                        <div class="text-center p-3 overlay-box " style="background-image: url(images/big/img1.jpg);">
                            <div class="profile-photo">
                                <img src="images/profile/profile.png" width="100" class="img-fluid rounded-circle"
                                    alt="">
                            </div>
                            <h3 class="mt-3 mb-1 text-white">Deangelo Sena</h3>
                            <p class="text-white mb-0">Senior Manager</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Patient
                                    Gender</span> <strong class="text-muted">Female </strong></li>
                            <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Years
                                    Old</span> <strong class="text-muted">Age: 24 </strong></li>
                        </ul>
                        <div class="card-footer border-0 mt-0">
                            <button class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-bell-o"></i> Reminder Alarm
                            </button>
                        </div>
                    </div>
                </div>

                <!-- END OF ROW 2 -->


                <!-- BEGINNING OF ROW 3  -->
                <div class="col-md-6">
                    <div class="widget-stat card bg-success">
                        <div class="card-body  p-4">
                            <div class="media">
                                <div class="card bg-success">
                                    <div class="card-header">
                                        <h4 class="text-white fs-26 font-weight-bolder">TOTAL EARNINGS</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <div class="default-tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#weekEarning"><i
                                                            class="fas fa-calendar-week me-2"></i> This
                                                        week</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#monthEarning"><i
                                                            class="fas fa-calendar-alt me-2"></i> This month</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#yearEarning"><i
                                                            class="fas fa-calendar me-2"></i> This year</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#customEarning"><i
                                                            class="fas fa-calendar-plus me-2"></i> Custom date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade " id="weekEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this week</p>
                                                                <h3 class="text-white">UGX. {{ total_week }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="monthEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this month</p>
                                                                <h3 class="text-white">UGX. {{ total_month }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="yearEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this year</p>
                                                                <h3 class="text-white">UGX. {{ total_year }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="customEarning"
                                                    role="tabpanel">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <div class="d-flex justify-content-between">
                                                                    <div>
                                                                        <p class="mb-1">earnings from {{start_date}} -
                                                                            {{end_date}}</p>
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-xs btn-primary mb-2"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#selectDateRange"><i
                                                                            class="fa fa-calendar me-2"></i>select date
                                                                        range

                                                                    </button>
                                                                </div>
                                                                <h3 class="text-white">UGX. {{ total_custom_amount }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body p-4">
                            <div class="media">
                                <div class="card bg-danger">
                                    <div class="card-header">
                                        <h4 class="text-white fs-26 font-weight-bolder">TOTAL EXPENSES</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <div class="default-tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#weekExpense"><i
                                                            class="fas text-success fa-calendar-week me-2"></i> This
                                                        week</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bolder text-success"
                                                        data-bs-toggle="tab" href="#monthExpense"><i
                                                            class="fas text-success fa-calendar-alt me-2"></i> This
                                                        month</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#yearExpense"><i
                                                            class="fas text-success fa-calendar me-2"></i> This year</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#customExpense"><i
                                                            class="fas text-success fa-calendar-plus me-2"></i> Custom
                                                        date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade " id="weekExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this week</p>
                                                                <h3 class="text-white">UGX. {{ total_week_expenses }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="monthExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this month</p>
                                                                <h3 class="text-white">UGX. {{ total_month_expenses }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="yearExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this year</p>
                                                                <h3 class="text-white">UGX. {{ total_year_expenses }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="customExpense"
                                                    role="tabpanel">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <div class="d-flex justify-content-between">
                                                                    <div>
                                                                        <p class="mb-1">expenses from:{{start_date}} -
                                                                            {{end_date}}</p>
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-xs btn-success mb-2"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#selectDateRangeForExpenses"><i
                                                                            class="fa fa-calendar me-2"></i>select date
                                                                        range

                                                                    </button>
                                                                </div>
                                                                <h3 class="text-white">UGX. {{ total_custom_amount }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END OF ROW 3 -->



                <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recent Payments Queue</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive recentOrderTable">
                                <table class="table verticle-middle table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ward No.</th>
                                            <th scope="col">Patient</th>
                                            <th scope="col">Dr Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Bills</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12</td>
                                            <td>Mr. Bobby</td>
                                            <td>Dr. Jackson</td>
                                            <td>01 August 2020</td>
                                            <td><span class="badge badge-rounded badge-primary">Checkin</span></td>
                                            <td>$120</td>
                                            <td class="text-end">
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                            height="18px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="12" cy="5" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="19" r="2" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void();;">Details</a>
                                                        <a class="dropdown-item text-danger"
                                                            href="javascript:void();;">Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10 </td>
                                            <td>Mr. Dexter</td>
                                            <td>Dr. Charles</td>
                                            <td>31 July 2020</td>
                                            <td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                            <td>$540</td>
                                            <td class="text-end">
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                            height="18px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="12" cy="5" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="19" r="2" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void();;">Details</a>
                                                        <a class="dropdown-item text-danger"
                                                            href="javascript:void();;">Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>03 </td>
                                            <td>Mr. Nathan</td>
                                            <td>Dr. Frederick</td>
                                            <td>30 July 2020</td>
                                            <td><span class="badge badge-rounded badge-danger">Canceled</span></td>
                                            <td>$301</td>
                                            <td class="text-end">
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                            height="18px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="12" cy="5" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="19" r="2" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void();;">Details</a>
                                                        <a class="dropdown-item text-danger"
                                                            href="javascript:void();;">Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>05</td>
                                            <td>Mr. Aurora</td>
                                            <td>Dr. Roman</td>
                                            <td>29 July 2020</td>
                                            <td><span class="badge badge-rounded badge-success">Checkin</span></td>
                                            <td>$099</td>
                                            <td class="text-end">
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                            height="18px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="12" cy="5" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="19" r="2" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void();;">Details</a>
                                                        <a class="dropdown-item text-danger"
                                                            href="javascript:void();;">Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>06</td>
                                            <td>Mr. Matthew</td>
                                            <td>Dr. Samantha</td>
                                            <td>28 July 2020</td>
                                            <td><span class="badge badge-rounded badge-success">Checkin</span></td>
                                            <td>$520</td>
                                            <td class="text-end">
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                            height="18px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="12" cy="5" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="19" r="2" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="javascript:void();;">Details</a>
                                                        <a class="dropdown-item text-danger"
                                                            href="javascript:void();;">Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
    <!-- MODELS  -->
    <!-- Modal for selecting date range for earnings  -->
    <div class="modal fade" id="selectDateRange">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Date Range</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="custom_amount_date_form">
                        {{custom_amount_form.as_p}}
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">View earnings
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for selecting date range for expenses  -->
    <div class="modal fade" id="selectDateRangeForExpenses">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Date Range</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="custom_amount_date_form_for_expenses">
                        {{custom_amount_form_for_expenses.as_p}}
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">View expenses
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}