{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto consults</a></li>
                </ol>
            </div>

            <div class="row">

                <!-- BEGINNING OF ROW 1  -->
                <div class="col-md-3">
                    <div class="widget-stat card bg-primary">
                        <div class="card-body  p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="la la-users"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total Customers</p>
                                    <h3 class="text-white text-center">{{total_customers}}</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                                    </div>
                                    <small>80% Increase in 20 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-warning">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-building"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total companies</p>
                                    <h3 class="text-white text-center">{{total_companies}}</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                    </div>
                                    <small>50% Increase in 25 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-secondary overflow-hidden">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total Jobs</p>
                                    <h3 class="text-white text-center">{{total_jobs}}</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                                    </div>
                                    <small>76% Increase in 20 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-stat card bg-danger ">
                        <div class="card-body p-4">
                            <div class="media">
                                <span class="me-3">
                                    <i class="fas fa-user-check"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1 text-center">Total placements</p>
                                    <h3 class="text-white text-center">{{total_placements}}</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                    </div>
                                    <small>30% Increase in 30 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- END OF ROWN ONE  -->


                <!-- BEGINNING OF ROW 2 -->
                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                    <div id="user-activity" class="card">
                        <div class="card-header border-0 pb-0 d-sm-flex d-block">
                            <h4 class="card-title">Visitor Activity</h4>
                            <div class="card-action mb-sm-0 my-2">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#today" role="tab"
                                            onclick="updateChart('day')">Today</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#this-week" role="tab"
                                            onclick="updateChart('week')">This week</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#this-month" role="tab"
                                            onclick="updateChart('month')">This month</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#this-year" role="tab"
                                            onclick="updateChart('year')">This year</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#date-range" role="tab"
                                            onclick="showCustomDateRange()">Date range</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Custom date inputs, hidden by default -->
                            <div id="custom-dates" style="display: none;">
                                <label for="start-date">Start Date:</label>
                                <input type="date" id="start-date">
                                <label for="end-date">End Date:</label>
                                <input type="date" id="end-date">
                                <button onclick="updateChart('custom')">Update</button>
                            </div>

                            <canvas id="earningsChart" width="400" height="200"></canvas>

                        </div>

                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="user" role="tabpanel">
                                    <canvas id="fetch_fee_payments" width="800" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12 col-sm-12">
                    <div class="card overflow-hidden">
                        <h3 class="card-title ms-5 mt-5">Registration Fee Analysis</h3>
                        <canvas id="registrationFeesChart" width="400" height="400"></canvas>
                        <div class="card-footer mt-3">
                            <div class="row text-success">
                                <div class="col-6 border-end">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center">
                                        <h4 class="m-1 text-success"><span class="counter">Ugx. {{ total_paid_registration }}</span>
                                        </h4>
                                        <p class="m-0">Paid</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center text-danger">
                                        <h4 class="m-1 text-danger"><span class="counter">Ugx. {{ total_unpaid_registration }}</span>
                                        </h4>
                                        <p class="m-0">Unpaid</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-sm-12">
                    <div class="card overflow-hidden">
                        <h3 class="card-title ms-5 mt-5">Consultation Fee Analysis</h3>
                        <canvas class="" id="consultationFeesChart" width="400" height="400"></canvas>
                        <div class="card-footer mt-3">
                            <div class="row text-success">
                                <div class="col-6 border-end text-success">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center">
                                        <h4 class="m-1 text-success"><span class="counter">Ugx. {{ total_paid_consultation }}</span>
                                        </h4>
                                        <p class="m-0">Paid</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center text-danger">
                                        <h4 class="m-1 text-danger"><span class="counter">Ugx. {{ total_unpaid_consultation }}</span>
                                        </h4>
                                        <p class="m-0">Unpaid</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-sm-12">
                    <div class="card overflow-hidden">
                        <h3 class="card-title ms-5 mt-5">Connection Fee Analysis</h3>
                        <canvas id="connectionFeesChart" width="400" height="400"></canvas>
                        <div class="card-footer mt-3">
                            <div class="row text-success">
                                <div class="col-6 border-end text-success">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center">
                                        <h4 class="m-1 text-success"><span class="counter">Ugx. {{ total_paid_connection }}</span>
                                        </h4>
                                        <p class="m-0">Paid</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 ps-0 pe-0 text-center text-danger">
                                        <h4 class="m-1 text-danger"><span class="counter">Ugx. {{ total_unpaid_connection }}</span>
                                        </h4>
                                        <p class="m-0">Unpaid</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- END OF ROW 2 -->


                <!-- BEGINNING OF ROW 3  -->
                <div class="col-md-6">
                    <div class="widget-stat card bg-success">
                        <div class="card-body  p-4">
                            <div class="media">
                                <div class="card bg-success">
                                    <div class="card-header">
                                        <h4 class="text-white fs-26 font-weight-bolder">TOTAL EARNINGS</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <div class="default-tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#weekEarning"><i
                                                            class="fas fa-calendar-week me-2"></i> This
                                                        week</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#monthEarning"><i
                                                            class="fas fa-calendar-alt me-2"></i> This month</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#yearEarning"><i
                                                            class="fas fa-calendar me-2"></i> This year</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active font-weight-bold text-primary"
                                                        data-bs-toggle="tab" href="#customEarning"><i
                                                            class="fas fa-calendar-plus me-2"></i> Custom date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade " id="weekEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this week</p>
                                                                <h3 class="text-white">UGX. {{ total_week }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="monthEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this month</p>
                                                                <h3 class="text-white">UGX. {{ total_month }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="yearEarning">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">earnings for this year</p>
                                                                <h3 class="text-white">UGX. {{ total_year }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="customEarning"
                                                    role="tabpanel">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <div class="d-flex justify-content-between">
                                                                    <div>
                                                                        <p class="mb-1">earnings: {{start_date}} -
                                                                            {{end_date}}</p>
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-xs btn-primary mb-2"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#selectDateRange"><i
                                                                            class="fa fa-calendar me-2"></i>
                                                                        date

                                                                    </button>
                                                                </div>
                                                                <h3 class="text-white">UGX. {{ total_custom_amount }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body p-4">
                            <div class="media">
                                <div class="card bg-danger">
                                    <div class="card-header">
                                        <h4 class="text-white fs-26 font-weight-bolder">TOTAL EXPENSES</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <div class="default-tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#weekExpense"><i
                                                            class="fas text-success fa-calendar-week me-2"></i> This
                                                        week</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bolder text-success"
                                                        data-bs-toggle="tab" href="#monthExpense"><i
                                                            class="fas text-success fa-calendar-alt me-2"></i> This
                                                        month</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#yearExpense"><i
                                                            class="fas text-success fa-calendar me-2"></i> This year</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active font-weight-bold text-success"
                                                        data-bs-toggle="tab" href="#customExpense"><i
                                                            class="fas text-success fa-calendar-plus me-2"></i> Custom
                                                        date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade " id="weekExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this week</p>
                                                                <h3 class="text-white">UGX. {{ total_week_for_expenses}}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="monthExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this month</p>
                                                                <h3 class="text-white">UGX. {{ total_month_for_expenses}}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="yearExpense">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <p class="mb-1">expenses for this year</p>
                                                                <h3 class="text-white">UGX. {{ total_year_for_expenses}}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="customExpense"
                                                    role="tabpanel">
                                                    <div class="pt-4">
                                                        <div class="media">
                                                            <span class="me-3">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                            <div class="media-body text-white">
                                                                <div class="d-flex justify-content-between">
                                                                    <div>
                                                                        <p class="mb-1">expenses:
                                                                            {{start_date_for_expenses}} -
                                                                            {{end_date_for_expenses}}</p>
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-xs btn-success mb-2"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#selectDateRangeForExpenses"><i
                                                                            class="fa fa-calendar me-2"></i>
                                                                        date

                                                                    </button>
                                                                </div>
                                                                <h3 class="text-white">UGX.
                                                                    {{total_custom_amount_for_expenses }}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END OF ROW 3 -->


                <!-- BEGINNING OF ROW 4 AND 5 RECENT PAYMENTS  -->
                <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recent registered Fee Payments</h4>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive recentOrderTable">
                                {% if recent_fee_payments %}
                                <table class="table verticle-middle table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col" class="text-center">Fee Type</th>
                                            <th scope="col" class="text-center">Amount</th>
                                            <th scope="col" class="text-center">Status</th>
                                            <th scope="col" class="text-center">Payment Date</th>
                                            <th scope="col" class="text-center">Receipt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fee_payment in recent_fee_payments %}
                                        <tr>
                                            <td>{{fee_payment.customer.firstname}} {{ fee_payment.customer.othernames }}
                                            </td>
                                            <td class="text-center">{{ fee_payment.fee_type }}</td>
                                            <td class="text-center">{{ fee_payment.amount }}</td>
                                            <td class="text-center">{{ fee_payment.payment_status }}</td>
                                            <td class="text-center">{{ fee_payment.payment_date }}</td>
                                            <td class="text-center">{{ fee_payment.fee_type }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {%else%}
                                <div class="text-center">No registered fees payments yet</div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recent registered Expenses</h4>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive recentOrderTable">
                                {% if recent_fee_payments %}
                                <table class="table verticle-middle table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Expense Name</th>
                                            <th scope="col" class="text-center">Category</th>
                                            <th scope="col" class="text-center">Amount</th>
                                            <th scope="col" class="text-center">Payment Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expense in recent_expenses %}
                                        <tr>
                                            <td>{{expense.name}}
                                            </td>
                                            <td class="text-center">{{ expense.category }}</td>
                                            <td class="text-center">{{ expense.amount }}</td>
                                            <td class="text-center">{{ expense.date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {%else%}
                                <div class="text-center">
                                    No registered expenses yet!
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
        
                </div>

                <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recent registered Expenses</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="feePaymentsChart"></canvas>
                            </div>
                            <button class="timeframe-button" data-timeframe="day">Today</button>
                            <button class="timeframe-button" data-timeframe="week">This Week</button>
                            <button class="timeframe-button" data-timeframe="month">This Month</button>
                            <button class="timeframe-button" data-timeframe="year">This Year</button>
                            <button id="customDateRangeButton">Custom Date Range</button>
                        </div>
                    </div>
                   
                    
                </div>

            </div>

        </div>
    </div>

    <!-- MODELS  -->
    <!-- Modal for selecting date range for earnings  -->
    <div class="modal fade" id="selectDateRange">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Range</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="custom_amount_date_form">
                        {{custom_amount_form.as_p}}
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">View earnings
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for selecting date range for expenses  -->
    <div class="modal fade" id="selectDateRangeForExpenses">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Range</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="custom_amount_date_form_for_expenses">
                        {{custom_amount_form_for_expenses.as_p}}
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">View expenses
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Place this inside your dashboard.html where you want the chart to appear -->


<script>
const ctx = document.getElementById('feePaymentsChart').getContext('2d');
const feePaymentsChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Registration', 'Consultation', 'Connection'],
        datasets: [{
            label: 'Fees',
            data: [], // Will be populated dynamically
            backgroundColor: [
                'rgba(255, 99, 132, 1, 0.2)',
                'rgba(54, 162, 235, 1, 0.2)',
                'rgba(255, 206, 86, 1, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    });

function updateChart(timeframe) {
    const url = `/fetch_fee_payments/?timeframe=${timeframe}`;
    if (timeframe === 'custom') {
        url += `&start_date=${document.getElementById('start-date').value&end_date=${document.getElementById('end-date').value`;
    }
    fetch(url)
       .then(response => {
            feePaymentsChart.data.datasets[0].data = [response.registration, response.consultation, response.connection];
            feePaymentsChart.update();
        });
}

// Call updateChart with the default timeframe on page load
document.addEventListener('DOMContentLoaded', () => updateChart('day')); // Default to 'day'
</script>
</div>


{% endblock content %}