{% extends "base.html" %}

{% load static %}

{% block title %}Muto consults update company{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Muto consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Update company details</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Input Style</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for editing a company  -->
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_name" value="edit_company_form">
                                    <!-- {{edit_company_form.as_p}} -->
                                    <div class="mb-3 col-md-12">
                                        <label for="name" class="form-label">Company name:</label>
                                        <input type="text" name="name" id="id_name" value="{{company.name}}"
                                            class="form-control mt-1 mr-2 ml-2 mb-4">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="phone_number" class="form-label">Company
                                            Phonenumber:</label>
                                        <input type="text" name="phone_number" id="id_phone_number"
                                            class="form-control mt-1 mr-2 ml-2 mb-4" value="{{company.phone_number}}">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="id_phone_number2" class="form-label">Phonenumber
                                            2
                                            (optional):</label>
                                        <input type="text" name="phone_number2" maxlength="15" required
                                            id="id_phone_number2" class="form-control" value="{{company.phone_number2}}"
                                            required>
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="address" class="form-label">Company
                                            Address:</label>
                                        <input type="text" name="address" id="id_address"
                                            class="form-control mt-1 mr-2 ml-2 mb-4" value="{{company.address}}">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="email" class="form-label">Company Email:</label>
                                        <input type="email" name="email" id="id_email"
                                            class="form-control mt-1 mr-2 ml-2 mb-4" value="{{company.email}}">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="description" class="form-label">Company
                                            Description:</label>
                                        <textarea type="text" name="description" id="id_description"
                                            class="form-control mt-1 mr-2 ml-2 mb-4">{{ company.description }}</textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary mb-2">Update
                                            company</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}