{% extends "base.html" %}

{% load static %}

{% block title %}Muto Consults | Edit Customer{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Form</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Element</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Input Style</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <!-- form for editing a customer  -->
                                <form id="customerForm" method="post" enctype="multipart/form-data">

                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <!-- <div class="mb-3 col-md-12">
                                        <label for="id_firstname" class="form-label">First Name:</label><span
                                            class="text-danger">*</span>
                                        {{form.firstname}}
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_othernames" class="form-label">Other Names:</label>
                                        {{form.othernames}}
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_phonenumber_1" class="form-label">Phonenumber 1:</label>
                                        {{form.phonenumber_1}}
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_phonenumber_2" class="form-label">Phonenumber 2:</label>
                                        {{form.phonenumber_2}}
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_email" class="form-label">Email:</label>
                                        {{form.email}}
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="id_address" class="form-label">Address:</label>
                                        {{form.address}}
                                    </div>

                                    <div>
                                        <label for="id_passport_photo" class="form-label">Passport photo:</label>
                                    </div>
                                    <div class="form-file mb-3 col-md-12">
                                        {{form.passport_photo}}
                                    </div>


                                    <div>
                                        <label for="id_file_upload" class="form-label">File upload (CV):</label>
                                    </div>
                                    <div class="form-file mb-3 col-md-12">
                                        {{form.file_upload}}
                                    </div>

                                    <div class="mb-3">
                                        <label for="id_remarks" class="form-label">Remarks:</label>
                                        {{form.remarks}}
                                    </div> -->

                                    <div><button type="submit" class="btn btn-primary mb-2">Save customer
                                            details</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}