{% extends "base.html" %}

{% load static %}

{% block title %}Muto consults | List of Companies{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="d-flex justify-content-between">
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Muto consults</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">registered companies</a></li>
                        </ol>
                    </div>
                    {% if request.user.role == "admin" or request.user.role == "staff" %}
                    <button type="button" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal"
                        data-bs-target="#addCompany"><i class="fa fa-plus-circle me-2"></i>register new company
                    </button>
                    {% endif %}
                </div>

            </div>
            <!-- row -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title">List of all registered companies</h4>
                        <div class="nav-item d-flex align-items-center">
                            <div class="input-group search-area">
                                <span class="input-group-text"><a href="javascript:void(0)"><svg width="24" height="24"
                                            viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M27.414 24.586L22.337 19.509C23.386 17.928 24 16.035 24 14C24 8.486 19.514 4 14 4C8.486 4 4 8.486 4 14C4 19.514 8.486 24 14 24C16.035 24 17.928 23.386 19.509 22.337L24.586 27.414C25.366 28.195 26.634 28.195 27.414 27.414C28.195 26.633 28.195 25.367 27.414 24.586ZM7 14C7 10.14 10.14 7 14 7C17.86 7 21 10.14 21 14C21 17.86 17.86 21 14 21C10.14 21 7 17.86 7 14Z"
                                                fill="var(--secondary)" />
                                        </svg>
                                    </a></span>
                                <input type="text" id="search-input" class="form-control"
                                    placeholder="Search by name, email, address or phone">
                            </div>
                        </div>
                    </div>
                    <!-- Model for adding company  -->
                    <div class="modal fade" id="addCompany">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Register Company</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action={% url 'add-company' %} method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_name" value="add_company_form">
                                        {{add_company_form.as_p}}
                                        <div><button type="submit" class="btn btn-primary mb-2">Register
                                                company</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger light"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            {% if companies %}
                            <table class="table table-responsive-md" id="companies-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <strong>Company Name</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Email</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Phonenumber</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Address</strong>
                                        </th>
                                        <th class="text-center"><strong>Actions</strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for company in companies %}
                                    <tr>
                                        <td>
                                            {{company.name}}
                                        </td>
                                        <td class="text-center">
                                            {{company.email}}
                                        </td>
                                        <td class="text-center">
                                            {{company.phone_number}}
                                        </td>
                                        <td class="text-center">
                                            {{company.address}}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'view-company' company.id %}">
                                                <button type="button" class="btn btn-xs btn-info mb-2"><i
                                                        class="fa fa-eye"></i>

                                                </button></a>

                                            {% if request.user.role == "admin" or request.user.role == "staff" %}
                                            <button type="button" class="btn btn-xs btn-warning mb-2"
                                                data-bs-toggle="modal" data-bs-target="#editCompany{{ company.id }}"><i
                                                    class="fa fa-pencil"></i>

                                            </button>
                                            {% endif %}

                                            {% if request.user.role == "admin"%}
                                            <button type="button" class="btn btn-xs btn-primary mb-2"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteCompany{{ company.id }}"><i
                                                    class="fa fa-trash"></i>

                                            </button>
                                            {% endif %}

                                        </td>
                                    </tr>


                                    <!-- Modal for editing company  -->
                                    <div class="modal fade" id="editCompany{{ company.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Company</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'edit-company' company.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="form_name" value="edit_company_form">
                                                        <!-- {{edit_company_form.as_p}} -->
                                                        <div class="mb-3 col-md-12">
                                                            <label for="name" class="form-label">Company name:</label>
                                                            <input type="text" name="name" id="id_name"
                                                                value="{{company.name}}"
                                                                class="form-control mt-1 mr-2 ml-2 mb-4">
                                                        </div>
                                                        <div class="mb-3 col-md-12">
                                                            <label for="phone_number" class="form-label">Company
                                                                Phonenumber:</label>
                                                            <input type="text" name="phone_number" id="id_phone_number"
                                                                class="form-control mt-1 mr-2 ml-2 mb-4"
                                                                value="{{company.phone_number}}">
                                                        </div>
                                                        <div class="mb-3 col-md-12">
                                                            <label for="id_phone_number2" class="form-label">Phonenumber
                                                                2
                                                                (optional):</label>
                                                            <input type="text" name="phone_number2" maxlength="15"
                                                                required id="id_phone_number2" class="form-control"
                                                                value="{{company.phone_number2}}" required>
                                                        </div>
                                                        <div class="mb-3 col-md-12">
                                                            <label for="address" class="form-label">Company
                                                                Address:</label>
                                                            <input type="text" name="address" id="id_address"
                                                                class="form-control mt-1 mr-2 ml-2 mb-4"
                                                                value="{{company.address}}">
                                                        </div>
                                                        <div class="mb-3 col-md-12">
                                                            <label for="email" class="form-label">Company Email:</label>
                                                            <input type="email" name="email" id="id_email"
                                                                class="form-control mt-1 mr-2 ml-2 mb-4"
                                                                value="{{company.email}}">
                                                        </div>
                                                        <div class="mb-3 col-md-12">
                                                            <label for="description" class="form-label">Company
                                                                Description:</label>
                                                            <textarea type="text" name="description" id="id_description"
                                                                class="form-control mt-1 mr-2 ml-2 mb-4">{{ company.description }}</textarea>
                                                        </div>
                                                        <div>
                                                            <button type="submit" class="btn btn-primary mb-2">Update
                                                                company</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal for deleting company  -->
                                    <div class="modal fade" id="deleteCompany{{ company.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Deleting Company</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'delete-company' company.id%}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="form_name"
                                                            value="delete_company_form">
                                                        {{delete_company_form.as_p}}
                                                        <div class="mb-3">
                                                            Are you sure you want to delete {{company.name}} ?
                                                        </div>
                                                        <div class="d-flex modal-footer">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-primary mb-2">Delete</button>

                                                            <button type="button" class="btn btn-sm btn-danger light"
                                                                data-bs-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </tbody>
                            </table>
                            {%else%}
                            <div class="text-center">No companies added yet!!</>
                                {%endif%}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>




    {% endblock content %}