{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults | List of placements{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">List of placements</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <h4 class="card-title">List of all placements</h4>
                        <div class="nav-item d-flex align-items-center">
                            <div class="input-group search-area">
                                <span class="input-group-text"><a href="javascript:void(0)"><svg width="24" height="24"
                                            viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M27.414 24.586L22.337 19.509C23.386 17.928 24 16.035 24 14C24 8.486 19.514 4 14 4C8.486 4 4 8.486 4 14C4 19.514 8.486 24 14 24C16.035 24 17.928 23.386 19.509 22.337L24.586 27.414C25.366 28.195 26.634 28.195 27.414 27.414C28.195 26.633 28.195 25.367 27.414 24.586ZM7 14C7 10.14 10.14 7 14 7C17.86 7 21 10.14 21 14C21 17.86 17.86 21 14 21C10.14 21 7 17.86 7 14Z"
                                                fill="var(--secondary)" />
                                        </svg>
                                    </a></span>
                                <input type="text" id="search-input" class="form-control"
                                    placeholder="Search by customer name, job or status">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md" id="placements-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <strong>Customer</strong>
                                        </th>
                                        <th><strong>Job</strong></th>
                                        <th><strong>Company</strong></th>
                                        <th><strong>Status</strong></th>
                                        <th><strong>Action</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for placement in placements %}
                                    <tr>
                                        <td>
                                            {{placement.customer.firstname}} {{placement.customer.othernames}}
                                        </td>
                                        <td>{{placement.job.job_title}}</td>
                                        <td>{{placement.company}}</td>
                                        <td>
                                            {{placement.status}}
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href={% url "view-placement" placement.id %}
                                                    class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-eye"></i></a>
                                                <a href={% url "edit-placement" placement.id %}
                                                    class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a href={% url "delete-placement" placement.id %}
                                                    class="btn btn-danger shadow btn-xs sharp"><i
                                                        class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="message"></div>
    </div>
</div>


{% endblock content %}