{% extends "base.html" %}

{% load static %}

{% block title %}Muto consults | List of Jobs{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Muto consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">List of jobs</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title">List of all jobs</h4>
                        <div>
                            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
                                data-bs-target="#addJob"><i class="fa fa-plus-circle me-2"></i>Add Job
                            </button>
                        </div>
                    </div>
                    <!-- Model for adding job  -->
                    <div class="modal fade" id="addJob">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Job</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action={% url 'add-job' %} method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_name" value="add_job_form">
                                        {{add_job_form.as_p}}
                                        <div><button type="submit" class="btn btn-primary mb-2">Add
                                                job</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger light"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if jobs %}
                            <table class="table table-responsive-md" id="jobs-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <strong>Job Title</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Job Position</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Job Field</strong>
                                        </th>
                                        <th class="text-center"><strong>Actions</strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for job in jobs %}
                                    <tr>
                                        <td>
                                            {{job.job_title}}
                                        </td>
                                        <td class="text-center">
                                            {{job.job_position}}
                                        </td>
                                        <td class="text-center">
                                            {{job.job_field}}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'view-job' job.id %}">
                                                <button type="button" class="btn btn-xs btn-info mb-2"><i
                                                        class="fa fa-eye"></i>

                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-xs btn-warning mb-2"
                                                data-bs-toggle="modal" data-bs-target="#editJob{{ job.id }}"><i
                                                    class="fa fa-pencil"></i>

                                            </button>
                                            <button type="button" class="btn btn-xs btn-primary mb-2"
                                                data-bs-toggle="modal" data-bs-target="#deleteJob{{ job.id }}"><i
                                                    class="fa fa-trash"></i>

                                            </button>

                                        </td>
                                    </tr>
                                    <!-- Modal for editing job  -->
                                    <div class="modal fade" id="editJob{{ job.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Job</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'edit-job' job.id%}" method="post">

                                                        {% csrf_token %}
                                                        <div class="mb-3 col-md-12">
                                                            <label for="id_job_title" class="form-label">Job
                                                                title:</label><span class="text-danger">*</span>
                                                            <input type="text" name="job_title" maxlength="100" required
                                                                id="id_job_title" class="form-control"
                                                                value="{{job.job_title}}">
                                                        </div>

                                                        <div class="mb-3 col-md-12">
                                                            <label for="id_job_position" class="form-label">Job
                                                                Positon:</label> <a href={% url "add-jobposition" %}
                                                                class="text-success pl-3 text-medium">+ New</a>
                                                            <select name="job_position" id="id_job_position"
                                                                class="default-select  form-control wide">
                                                                <option value="{{job.job_position.id}}">{{job.job_position }}</option>
                                                                {% for job_position in job_positions %}
                                                                <option value={{job_position.id}}>{{ job_position }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                        <div class="mb-3 col-md-12">
                                                            <label for="id_job_field" class="form-label">Job
                                                                field:</label><span class="text-danger">*</span>
                                                            <input type="text" name="job_field" maxlength="100" required
                                                                id="id_job_field" class="form-control"
                                                                value="{{job.job_field}}">
                                                        </div>



                                                        <div class="mt-3 mb-3 col-md-12">
                                                            <label for="id_job_description" class="form-label">Job
                                                                description:</label>
                                                            <textarea id="id_job_description" name="job_description"
                                                                class="form-control"
                                                                rows="4">{{ job.job_description }}</textarea>
                                                        </div>

                                                        <div class="mb-3"><button type="submit"
                                                                class="btn btn-primary mb-2">Save
                                                                job</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal for deleting job  -->
                                    <div class="modal fade" id="deleteJob{{ job.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Deleting Job</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'delete-job' job.id%}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="form_name" value="delete_job_form">
                                                        {{delete_job_form.as_p}}
                                                        <div>
                                                            Are you sure you want to delete {{job.job_title}} ?
                                                        </div>
                                                        <div class="d-flex modal-footer">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-primary mb-2">Delete</button>

                                                            <button type="button" class="btn btn-sm btn-danger light"
                                                                data-bs-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </tbody>
                            </table>
                            {%else%}
                            <div class="text-center">No jobs added yet!!</>
                                {%endif%}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock content %}