{% extends "base.html" %}

{% load static %}

{% block title %}Moto consults | Change password{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Moto Consults</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Changing my password</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Password change</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <form method="post" class="form-group">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                            {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div class="form-group my-3">
                                        {{ form.old_password.label_tag }} {{ form.old_password }}
                                    </div>
                                    <div class="form-group mb-3">
                                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                    </div>
                                    <div class="form-group mb-3">
                                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Change my password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="message"></div>
    </div>
</div>
{% endblock content %}