{% extends "base.html" %}

{% load static %}

{% block title %}Muto consults | {{time_frame}} Report Details{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="d-flex justify-content-between">
                    <div><ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Muto Consults</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Report DEtails for this {{time_frame}}</a></li>
                    </ol></div>
                    <div>
                        <button class="btn btn-sm btn-outline-primary" target="_blank" onclick="window.location.href='{% url 'export_report' time_frame 'general' %}'">
                            <i class="bi bi-download me-2"></i>Export pdf
                        </button>
                    </div>
                </div>
                
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12 col-lg-12">
                    <div class="card instructors-box">
                        <div class="card-body text-center pb-3">
                            <div class="bio text-start my-4">
                                <h4 class="mb-3">Report for {{ time_frame|title }}</h4>
                                <div class="bio-content mb-3">
                                    <div class="fs-18">
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Totoal Registration Fees:</div>
                                            <div>{{ total_registration_fee }}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Total Connection Fees:</div>
                                            <div>{{ total_connection_fee }}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Totoal Consultation Fees:</div>
                                            <div>{{ total_consultation_fee }}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Total Sales:</div>
                                            <div>{{ total_sales }}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Total Expenses:</div>
                                            <div>{{ total_expenses }}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="col-lg-8">Profit/Loss:</div>
                                            <div class="badge badge-pill {% if profit > 0 %}badge-success{% elif profit < 0 %}badge-danger{% else %}badge-warning{% endif %}">
                                                {{ profit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6">
                    <div class="card profile-widget">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h4 class="mb-3">This {{time_frame}}'s Earnings</h4>
                                <div>
                                    <button class="btn btn-sm btn-outline-primary" target="_blank" onclick="window.location.href='{% url 'export_report' time_frame 'earnings' %}'">
                                        <i class="bi bi-download me-2"></i>Export pdf
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-responsive-md" id="payments-table">
                                {% if payments %}
                                    <thead>
                                        <tr class="table-bordered">
                                            <th style="width: 50%;"><strong>Customer</strong></th>
                                            <th class="text-center"><strong>Fee type</strong></th>
                                            <th class="text-center"><strong>Amount</strong></th>
                                            <th class="text-center"><strong>Payment Status</strong></th>
                                            <th class="text-center"><strong>Payment Date</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.customer.firstname }} {{payment.customer.othernames }}</td>
                                            <td class="text-center">{{ payment.fee_type }}</td>
                                            <td class="text-center">{{ payment.amount }}</td>
                                            <td class="text-center">{{ payment.payment_status }}</td>
                                            <td class="text-center">{{ payment.payment_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                <div class="text-center">There are no Earnings yet!</div>
                                {% endif %}
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 col-lg-6">
                    <div class="card profile-widget">
                        <div class="card-body">
                            <div class="bio text-start mt-4">
                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-3">This {{time_frame}}'s Expenses</h4>
                                    <div>
                                        <button class="btn btn-sm btn-outline-primary" target="_blank" onclick="window.location.href='{% url 'export_report' time_frame 'expenses' %}'">
                                            <i class="bi bi-download me-2"></i>Export pdf
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive-md" id="expenses-table">
                                    {% if expenses %}
                                        <thead>
                                            <tr class="table-bordered">
                                                <th style="width: 50%;"><strong>User Name</strong></th>
                                                <th style="width: 50%;"><strong>Expense</strong></th>
                                                <th class="text-center"><strong>Category</strong></th>
                                                <th class="text-center"><strong>Amount</strong></th>
                                                <th class="text-center"><strong>Date Added</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for expense in expenses %}
                                            <tr>
                                                <td>{{ expense.user.firstname }} {{expense.user.othernames }}</td>
                                                <td class="text-center">{{ expense.name }}</td>
                                                <td class="text-center">{{ expense.category }}</td>
                                                <td class="text-center">{{ expense.amount }}</td>
                                                <td class="text-center">{{ expense.date_added }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    {% else %}
                                    <div class="text-center">There are no expenses yet!</div>
                                    {% endif %}
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-xxl-12 col-lg-12">
                    <div class="card instructors-box">
                        <div class="card-body text-center pb-3">
                            <div class="bio text-start mt-4">
                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-3">All Outstanding balances</h4>
                                    <div>
                                        <button class="btn btn-sm btn-outline-primary" target="_blank" onclick="window.location.href='{% url 'export_report' time_frame 'outstanding' %}'">
                                            <i class="bi bi-download me-2"></i>Export pdf
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive-md" id="expenses-table">
                                    {% if outstanding_customers %}
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-center">Registration</th>
                                                <th class="text-center">Consultation</th>
                                                <th class="text-center">Connection</th>
                                                <th class="text-center">Total Credit</th>
                                                <th class="text-center">User Email</th>
                                                <th class="text-center">User Phone Number</th>
                                                <th class="text-center">Last Paid</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in outstanding_customers %}
                                            <tr>
                                                <td>{{ item.customer.firstname }} {{ item.customer.othernames }}</td>
                                                <td class="text-center">{% if item.registration_owed == 0 %}<i class="bi bi-check2"></i>{%else%}{{item.registration_owed}}{%endif %}</td>
                                                <td class="text-center">{% if item.consultation_owed == 0 %}<i class="bi bi-check2"></i>{%else%}{{item.consultation_owed}}{%endif %}</td>
                                                <td class="text-center">{% if item.connection_owed == 0 %}<i class="bi bi-check2"></i>{%else%}{{item.connection_owed}}{%endif %}</td>
                                                <td class="text-center">{{ item.total_owed }}</td>
                                                <td class="text-center">{{ item.customer.email }}</td>
                                                <td class="text-center">{{ item.customer.phonenumber_1 }}</td>
                                                <td class="text-center">{{ item.last_payment_date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    {% else %}
                                    <div class="text-center">There are no expenses yet!</div>
                                    {% endif %}
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
