{% extends "base.html" %}

{% load static %}

{% block title %}Motor Consults | Settings{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-lg-12">
                <div class="card instructors-box">

                    <div class="card-body text-center pb-3">
                        <div class="instructors-media">
                            {% if settings_instance.logo %}
                            <img src={{ settings_instance.logo.url }} alt="">
                            {% else %}
                            <img src={% static "images/courses/pic2.jpg" %} alt="">
                            {% endif %}

                            <div class="instructors-media-info mt-4">
                                <h4 class="mb-1">{{ settings_instance.name }}</h4>
                                <span class="fs-18">Located at {{ settings_instance.address }}</span>
                                <div class="d-flex justify-content-center my-3 mt-4">

                                </div>
                            </div>
                        </div>

                        <div class="bio text-start my-4">
                            <h4 class="mb-3">Details</h4>
                            <div class="bio-content mb-3">
                                <div class="fs-18 d-flex">
                                    <div class="col-lg-4">Name:</div>
                                    <div>{{ settings_instance.name }}</div>
                                </div>

                                <div class="fs-18 d-flex">
                                    <div class="col-lg-4">Phone_number:</div>
                                    <div>{{ settings_instance.phone_number }}</div>
                                </div>
                                <div class="fs-18 d-flex">
                                    <div class="col-lg-4">Address:</div>
                                    <div>{{ settings_instance.address }}</div>
                                </div>
                                <div class="fs-18 d-flex">
                                    <div class="col-lg-4">Email:</div>
                                    <div>{{ settings_instance.email }}</div>
                                </div>

                            </div>
                            <div class="widget-heading text-center d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-sm btn-warning mb-2" data-bs-toggle="modal"
                                    data-bs-target="#updateSettings"><i class="fa fa-pencil me-2"></i>Update Company
                                    Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 d-flex flex-column">
                <div class="card instructors-box">

                    <div class="card-body text-center">


                        <div class="bio text-start my-2">
                            <h4 class="mb-4">Default Registration Fee</h4>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="mt-2">
                                    <strong class="text-lg text-success">Ugx. {{ default_registration_fee }}</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#registrationFee"><i class="fa fa-plus-circle me-2"></i>set New
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card instructors-box">

                    <div class="card-body text-center">


                        <div class="bio text-start my-2">
                            <h4 class="mb-4">Default Connection Fee percentage</h4>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="mt-2">
                                    <strong class="text-lg text-success">Ugx. {{ default_connection_fee }}</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#connectionFee"><i class="fa fa-plus-circle me-2"></i>set New
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card instructors-box">

                    <div class="card-body text-center">


                        <div class="bio text-start my-2">
                            <h4 class="mb-4">Default Consultation Fee</h4>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="mt-2">
                                    <strong class="text-lg text-success">Ugx. {{ default_consultation_fee }}</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#consultationFee"><i class="fa fa-plus-circle me-2"></i>set New
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->

        <!-- Model for adding registration fee  -->
        <div class="modal fade" id="registrationFee">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Setting new Registration Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_name" value="registration_fee_form">
                            {{registration_fees_form.as_p}}
                            <div><button type="submit" class="btn btn-primary mb-2">Save Fee</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Model for adding connection fee  -->
        <div class="modal fade" id="connectionFee">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Setting new Connection Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_name" value="connection_fee_form">
                            {{connection_fees_form.as_p}}
                            <div><button type="submit" class="btn btn-primary mb-2">Save Fee</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Model for adding consultation fee  -->
        <div class="modal fade" id="consultationFee">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Setting new Consultation Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_name" value="consultation_fee_form">
                            {{consultation_fees_form.as_p}}
                            <div><button type="submit" class="btn btn-primary mb-2">Save Fee</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Model for updating settings  -->
        <div class="modal fade" id="updateSettings">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Updating company settings/Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="form_name" value="update_company_settings_form">
                            {{update_company_settings_form.as_p}}
                            <div><button type="submit" class="btn btn-primary mb-2">Update settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}